<div class="row container" style="margin-top: 4em;">
    <div class="col-md-4 mw-auto">
        <h2> créer un compte</h2>
        <form [formGroup]="signUpForm" (ngsubmit)="onSubmit()">
            <div class="form-group"> 
                <label for="userName"> Nom </label>
                <input type="text" id="userName" class="form-control" formControlName="userName">
            </div>
            <div class="form-group"> 
                <label for="email"> Email </label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group"> 
                <label for="password"> password </label>
                <input type="text" id="password" class="form-control" formControlName="password">
            </div>
            <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary"> 
                Créer un compte
            </button>
        </form>
    </div>
</div>
